@import "../common.scss";

.header {
  height: $header-height;
  background: #fff;
  position: relative;

  &__button {
    position: absolute;
    top: 18px;
    right: 24px;
  }

  &__logo {
    position: absolute;
    top: 24px;
    left: 24px;
    content: url("./logo.svg");
  }
}
