.tippy-tooltip.meetings-theme {
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
  color: black;
}
.tippy-popper[x-placement^=bottom] .tippy-tooltip.meetings-theme .tippy-arrow {
    border-bottom-color: white;
}
