.button {
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  background: #007dff;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0;
  font-family: HelveticaNeue,Helvetica,Arial,sans-serif;;
  cursor: pointer;

  &:hover {
    background: #0059ff;
  }

  &:active {
    background-color: #0011fe;
  }

  &:disabled {
    background-color: #e9ecef;
    color: rgba(0, 0, 0, 0.2);
    cursor: default;
  }
}