@import "../calc.scss";

.rooms-events {
  box-shadow: 0 -1px 0 0 #e9ecef;

  &__floor {
    background: rgb(230, 255, 230);
    padding-top: 21px;

    &-name {
      width: 245px;
      padding: 0 24px;
      box-sizing: border-box;
      font-family: "HelveticaNeue-Bold";
      font-size: 11px;
      color: #858E98;
      letter-spacing: 0.4px;
      text-transform: uppercase; 
    }
    &-room {
      width: 245px;
      padding: 0 24px;
      box-sizing: border-box;
    }
  }


  // &__occupied {
  //   @include start(9, 15);
  // }

  // &__vacant {
  // }
}
